@media (min-width: 961px) {
	.aside {
		width: 320px;
		margin-right: 40px;
	}

	.content {
		width: 100%;
	}

	.page {
	display: flex;
	flex-direction: row-reverse;
	}
}

@media (max-width: 960px) {
	.aside__menu {
		display: none;
	}
}