@media (min-width: 481px) {
	.section__title {
		font-size: 2.4em;
	}
}

@media (max-width: 480px) {
	.section__title {
		font-size: 2em;
	}
}

@media (min-width: 481px) {
	.post__name {
		font-size: 2.1em;
		margin: auto; 
	}
}

@media (max-width: 480px) {
	.post__name {
		font-size: 1.8em;
		margin: auto; 
	}
}
